# --- Python ---
__pycache__/
*.py[cod]
*$py.class
static

# --- Виртуальное окружение ---
venv/
env/
.venv/

# --- Настройки среды (ПАРОЛИ!) ---
.env

# --- Логи (чтобы не мусорить в Git) ---
*.log
logs/
app.log

# --- IDE (настройки редактора) ---
.idea/
.vscode/
*.swp